*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* inizio QUERY rid. blocchi PRIMA sezione */
@media screen and (min-width:769px) and (max-width:992px) {
  .prima_blocchi {

  }
}
/* fine QUERY rid. blocchi PRIMA sezione --*/
/* inizio QUERY rid. blocchi TERZA sezione */
@media screen and (min-width:769px) and (max-width:992px){
  .terza_blocchi {

  }
}
/* fine QUERY rid. blocchi TERZA sezione --*/

/* DEBUg -- */
[class*="col-"] {
  border:1px solid #000;
}

section {
  padding: 300px;
  background-color: blue;
  border:1px solid #000;
}
/* debug ---- */
